pyrofork==2.3.45
tgcrypto-pyrofork
pymongo[srv]==4.11.1
motor==3.7.0
marshmallow==3.26.1
umongo
requests
bs4
git+https://github.com/Joelkb/cinemagoer
shortzy
datetime
pytz
aiohttp
opencv-python-headless==4.8.1.78
python-dotenv==0.21.1
speedtest
humanize
Pillow
psutil
numpy
wheel
ujson
wget
aiofiles
dnspython==2.3.0
python-decouple
ffmpeg-python==0.2.0
jinja2
fuzzywuzzy
python-Levenshtein==0.21.0